.transactions-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.transaction-item {
    border: 1px solid;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.transaction-block-item {
    display: flex;
}
